<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/68c779ccf0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{%static 'homebank/style.css'%}">
        <title>ITBANK</title>   
    </head>

    <body>


        <!-- Fondo estatico e imagen de fondo-->
        <div id="fondo-imagen"><img src="/img/architecture-g4575d4364_1920.jpg" alt=""></div>
        <div id="fondo"></div>

        <!-- Cabecera-->
        <div class="header">
            <div class="header-conteiner">
                <div class="logo">
                    <a href="/">ITBANK</a>
                </div>
                <ul class="conteiner-listas">
                    <li>Menú</li>
                    <li>About Us</li>
                    <li>Help</li>
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                </ul>
                {% if request.user.is_authenticated %}
                <div class="conteiner-buscador d-none d-lg-block">
                    <p>Usted esta accediendo como el usuario: {{user.get_username}}</p>
                </div>
                {% else %}
                <div class="conteiner-buscador d-none d-lg-block">
                    <p></p>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
       
        <!-- Cuerpo de la página-->

        <div id="cuentas">
            <div>
                <h2>Cuenta corriente</h2>
                <p>$ 999.999.999,00</p>
            </div>
            <div>
                <h2>Caja de ahorro en pesos</h2>
                <p>$ 999.999.999,00</p>
            </div>
            <div>
                <h2>Caja de ahorro en dolares</h2>
                <p>999.999.999,00 $</p>
                
            </div>
            <!-- Seccion de cotizaciones-->
            <article id="visualizacion">
                <article id="cotizaciones">
                    <h1>Cotizaciones del Día</h1>
                    <input class="btn-act" type="button" value="Actualizar" onclick="recargar()"/>
                    <article id="pruebas">
                        <button class="click btn-dark" id="boton1" >Dolar Oficial</button>
                        <button class="click btn-dark" id="boton2" >Dolar Blue</button>
                        <button class="click btn-dark" id="boton3" >Dolar Soja</button>
                        <button class="click btn-dark" id="boton4" >Dolar Contado con Liqui</button>
                        <button class="click btn-dark" id="boton5" >Dolar Bolsa</button>
                        <button class="click btn-dark" id="boton6" >Dolar turista</button>
                        <button class="click btn-dark" id="boton7" >Dolar</button>

                    </article>
                </article>
                <!-- Modelo de secciones-->
                <div id="modelo">
                    <article>
                        <h1 id="tipo-dolar">Seleccione un tipo de Dolar</h1>
                        <article id="modelo-conteiner">
                            <article>
                                <h2>Compra</h2>
                                <!-- Lugar para imprimir el precio de compra-->
                                <h3 id="valor-compra">-</h3>
                            </article>
                            <article>
                                <h2>Venta</h2>
                                <!-- Lugar para imprimir el precio de Venta-->
                                <h3 id="valor-venta">-</h3>
                            </article>
                        </article>
                        <p id="cronometro">ACTUALIZADO: Hace menos de un minuto </p>
                    </article>
                </div>
            </article>
        </div>
        <div id="informacion">
            <button><p>TRANSFERENCIAS</p><img src="{%static 'homebank/Icons/transferencias.png'%}" alt="transferencias"></button>
            <button><p>PAGO DE SERVICIOS</p><img src="{%static 'homebank/Icons/pago_servicios.png'%}" alt="pago de SERVICIOS"></button>
            <button><p>PRESTAMOS</p><img src="{%static 'homebank/Icons/prestamos.png'%}" alt="prestamos"></button>
            <button><p>SEGUROS</p><img src="{%static 'homebank/Icons/Security.png'%}" alt="seguros"></button>
            <button><p>ASISTENCIA</p><img src="{%static 'homebank/Icons/Asistencia.png'%}" alt="Asistencia"></button>
            <button><p>INVERSIONES</p><img src="{%static 'homebank/Icons/inversiones.png'%}" alt="inversiones"></button>
        
        </div>
        <div id="promociones">
          
            <button><p>PUNTOS DE INTERES</p><img src="{%static 'icons/Puntos en comun.png'%}" alt=""></button>
            <button><p>COBROS</p><img src="{%static 'icons/cobros.png'%}" alt="cobros"></button>
            <button><p>DESCUENTOS Y OFERTAS</p><img src="{%static 'icons/png-descuento-ofertas.png'%}" alt="Descuentos y OFERTAS"></button>
            <button><p>LOCALES Y COMERCIOS</p><img src="{%static 'icons/Locales_comercio.png'%}" alt=""></button>
            <button class="btn-danger" onclick="imprimirDolar(); visualizacionOn();" ><a href="#cotizaciones"><p>Cotizacion</p></a></button>

        
        </div>

        <!-- A partir de acá empieza el Footer/Pie de pagina-->
        <div class="footer">
            <div>
                <ol class="footer-contenido">
                    <li>ITBANK</li>
                    <li>Buenos Aires - Argentina </li>
                        <ol>
                            <li>Colaboradores:</li>
                            <li>Lucas Miranda</li>
                            <li>Martin Gabriel Reale Latini</li>
                            <li>Valentín Tubaro</li>
                            <li>Mariano Lena</li>
                            <li>Melina Van Ackere</li>
                            <li>Valentín Pugliese</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>

        <script src="{%static 'homebank/home.js'%}"></script>
    </body>
</html>