{% extends 'registration/base.html' %}
{%load static%}

{% block content %}

<article class="fondo">
    <div class="container d-flex justify-content-center align-items-center vh-100 vw-100">
        <div class="card border-0 " style="width: 350px">
            <img src="Icons/itba.jpg" alt="" class="border-none img-fluid">
            <div class="card-body bg-dark text-light">
                {% if not request.user.is_authenticated %}
                <div><h1>
                    Bienvenido!
                    Por favor inicie sesión
                    <div>
                    <a class="nav-link link-danger" href="{% url 'login' %}">Acceder</a>
                    </div>
                </h1></div></p>
                {% else %}
                <div><h1>
                    Usted ya se encuentra autenticado
                    <a class="nav-link link-danger" href="{% url 'homebank' %}">Homebanking</a>
                    </div>
                </h1></div></p>
                {% endif %}
            </div> 
        </div>
    </div>



<div>(estamos todavia trabajando en el homescreen)</div>

{% endblock content %}